<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'portfolio_style.css')}}">
    <title>PSoteropulos</title>
</head>
<body>
    <nav>
        <div id="navleft">
            <h1>Paul Soteropulos</h1>
            <h2>Portfolio in Progress</h2>
        </div>
        <div id="navright">
            Links eventually
        </div>
    </nav>
    <div id="container">
        <h2>This is where I will showcase some projects and skills</h2>
        <div id="links">
            <a href="/awaken">Choose Your Own Adventure</a>
            <a href="/l&r">Community Recipe Board</a>
        </div>
    </div>
</body>
</html>