*{
    margin: 0px;
    padding: 0px;
    font-size: 22px;
}

body{ 
    width: 100%;
    /* height: 100%; */
}
#container{
    display: flex;
    margin: 40px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 230, 209);
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 80%;
    margin-bottom: 40px;
    /* border-bottom: 2px solid black; */
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
#navright{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navright form{
    margin-left: 50px;
}
#navlower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
#flash{
    color: red;
    margin: 10px;
}

input{
    width: 150px;
    box-shadow: 2px 2px black;
    border-radius: 4px;
    margin: 5px;
}
.buttons{
    width: fit-content;
    padding: 5px;
    font-size:medium ;
}
form{
    display: flex;
    flex-direction: row;
}
#recipe_left{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}
#recipe_right{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}
.radiobtn{
    box-shadow: none;
    border-radius: none;
    margin: -50px;
}
table td{
    padding: 10px;
    height: fit-content;
    width: fit-content;
}
#recipe_table{    
    border:2px black solid;
    margin-bottom: 50px;
    height: fit-content;
    padding: 20px;
    max-width: 90%;
}
#recipe_table p{
    padding: 10px;
    word-break: break-all;
}
#manipulate{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 30px;
}
#deletebutton{
    align-items: normal;
    background-color: rgba(0,0,0,0);
    border-color: rgb(0, 0, 238);
    border-style: none;
    box-sizing: content-box;
    color: rgb(0, 0, 238); 
    cursor: pointer;
    display: inline;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    text-decoration: underline;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
    box-shadow: none;
}